### Today Topics
- Comprehensions
    - list and dictionary
        - Describing something in a short paragraph.
        - we are giving short description
        - reducing the no.of LOC in programming
- Functional programming

In [4]:
# list of sqaure values of numbers present in a range
sq=[]
lw=int(input("lower bound:"))
up=int(input("upper bound:"))
for num in range(lw,up+1):
    if num%2==0:
        sq.append(num**num)
print(sq)

lower bound:1
upper bound:20
[4, 256, 46656, 16777216, 10000000000, 8916100448256, 11112006825558016, 18446744073709551616, 39346408075296537575424, 104857600000000000000000000]

#### comprehension
- **syntax**
- [output input sequence condition]

In [6]:
li=[num**2 for num in range(int(input("first:")),int(input("second:"))) if num%2==0]
li

first:1
second:10

[4, 16, 36, 64]

In [7]:
# list of cubic values of numbers present in a range
cubes=[]
for num in range(1,11):
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
li2=[num**3 for num in range(1,11)]
print(li2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [13]:
# read a string from user and store the characters whose ascii value is odd
# "Andhra Loyola":ascii()==odd,[ch]

chars=[]
for ch in input(): # string
    if ord(ch)%2==1:
        chars.append(ch)
print(chars)

Hi i AM Ruthu
['i', 'i', 'A', 'M', 'u', 'u']

In [11]:
ord("a")

97

In [14]:
asc=[ch for ch in input("Enter string:") if ord(ch)%2==1]
asc

Enter string:Hi I AM Ruthu

['i', 'I', 'A', 'M', 'u', 'u']

In [15]:
#print the nth multiplication table using list comprehension
n=int(input()) # dynamic
mul=[print(n,"x",num,"=",n*num) for num in range(1,11)]

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [16]:
m=[print(x,y) x,y=10,11]

SyntaxError: invalid syntax (<ipython-input-16-d3513ff0e014>, line 1)

### Dictionary comprehension
- {output input_sequence condition_check}

In [17]:
# prepare a dictionary of square values of numbers present in a range
dic={}
for num in range(int(input()),int(input())):
    dic[num]=num**2
print(dic)

1
15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}

In [23]:
sqs={num:num**2 for num in range(int(input("first value:")),20)}
print(sqs)

first value:4
{4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [25]:
sqs={num:num**2 for num in range(int(input("first value:")),20)}
print(sqs)

first value:4
{4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [27]:
# prepare a dictionary of characters whose ascii values are prime in string
def is_prime(n):
    count=0
    for num in range(1,n+1):
        if n%num==0:
            count+=1
    if count==2:
        return True
    else:return False
    
    
#is_prime(5)
prime_chars={ch:ord(ch) for ch in input() if is_prime(ord(ch))}
prime_chars

HI I am Ruthu from apssdc

{'I': 73, 'a': 97, 'm': 109}

### Functional programming
- A program can written in functions
- There functions for user conviences 
- iterators
- generators
- map
- lambda
- filter

In [28]:
type casting functions

SyntaxError: invalid syntax (<ipython-input-28-7aba95329b8d>, line 1)

#### Iterators
- Any thing that iterates the iterable
- iterator is the predefined function which iterates the iterable
- user iteration
- iterating statements such as for and while

In [29]:
for num in range(1,11):
    print(num)
    
# num is the iterator
# range() :iterable

1
2
3
4
5
6
7
8
9
10

In [30]:
wst="ruthu" # 5 chars
for ch in st: # repeatable, ch iterators
    print(ch) # in the middle iteration I cannot stop,automatically ends

r
u
t
h
u

In [34]:
rn=range(1,11)
it=iter(rn) # initialize the iterator 
print(next(it)*2) #1
print(next(it)/3)
print(next(it)+5)

2
0.6666666666666666
8

In [35]:
for num in range(1,11):
    print(num*5)

5
10
15
20
25
30
35
40
45
50

In [36]:
li=['ruthu',89,76,23,'apssdc']
i=iter(li)
print(next(i))
print(next(i))

ruthu
89

### Generators
- a also like an user defined function but it yileds many values/results in a same function
- def function_name(args):
    - statement goes here
    - yiled

In [37]:
a,b=10,5
def add():
    return a+b
add() # can return a single value

15

In [47]:
def generator():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5

    
g=generator() # a generator object is created
for num in g:
    print(num,end=" ")
print()
ir=iter(generator())
print(next(ir))
print(next(ir))
print(next(ir))
#print(next(ir))
#print(next(ir))

1 2 3 4 5
1
2
3

In [51]:
def gen(n):
    for num in range(1,6): # 1,2,3,4,5
        yield num
        
g2=gen(10)
for num in g2:
    print(num)

1
2
3
4
5

In [52]:
# read n space separated values from user and verify how many of them are 
# multiples of 4 and non multiples of 7

In [53]:
You have been given a String S consisting of uppercase and lowercase English alphabets. You need to change the case of each alphabet in this String. That is, all the uppercase letters should be converted to lowercase and all the lowercase letters should be converted to uppercase. You need to then print the resultant String to output.

Input Format
The first and only line of input contains the String S

Output Format
Print the resultant String on a single line.

Constraints

where S denotes the length of string S.
Sample Input:abcdE

Sample Output:ABCDe

SyntaxError: invalid syntax (<ipython-input-53-40ee0fcbdb32>, line 1)

In [54]:
w=10
h=20
l=20

In [55]:
10*20

200

In [56]:
20*20

400

In [57]:
w=10
l=10
w**2

100

In [58]:
l**2

100