In [ ]:
# Day objectives:
- python basics:
    - variables
    - keywords
    - datatypes
    - type casting/type conversion
    - dynamic input(user input)
    - operators

# Variable:
- variable is a name which used to refer memory location and used to hold values.
x=10
x---->variable
10---->value
##### syn:
varaible=value

##### rules:
1)in python,we don't need to specify the type of the variable...python is a type infer language and smart enough to get variable type
2) varible is a group of both letters and digits,but they have to begin with a letter or underscore and variable doesn't support special charcters.
3)keywords cannot be used as variable names

In [3]:
x=10
print(x) # no need double quotes
print(type(x))

10
<class 'int'>
x

In [4]:
print("x")

x

In [6]:
int x=10
print(x)

SyntaxError: invalid syntax (<ipython-input-6-6296b356d702>, line 1)

In [8]:
Python45=67
print(Python45)

67

In [9]:
_pyt123=45
print(_pyt123)

45

In [10]:
1pyt123=89
print(1pyt123)

SyntaxError: invalid syntax (<ipython-input-10-b9a47da6397b>, line 1)

In [11]:
pyt@123=67   #in variable it doesn't support special charcters
print(pyt@123)

SyntaxError: can't assign to operator (<ipython-input-11-ded70a108ffe>, line 1)

In [12]:
$pyt123=90
print($pyt123)

SyntaxError: invalid syntax (<ipython-input-12-fb7b210df095>, line 1)

In [ ]:
# Keyword:
- keywords are the reserved words
- we cannot use keywords as a varible names,function names,class names

In [13]:
import keyword
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'kwlist', 'main']

In [18]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [16]:
import keyword
keyword.iskeyword('False')

True

In [17]:
keyword.iskeyword('print')

False

In [19]:
True=80  #we cannot use keyword as variable name
print(True)

SyntaxError: can't assign to keyword (<ipython-input-19-c619fb566420>, line 1)

In [ ]:
# Datatypes:
- it gives information about type of the data
# python datatypes:
1)int (integer)
2)float
3)str (string)

In [20]:
n="python"
print(n)
print(type(n))

python
<class 'str'>

In [21]:
n='python'
print(n)
print(type(n))

python
<class 'str'>

In [23]:
a='python'
b=56.78
c=89
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

python
56.78
89
<class 'str'>
<class 'float'>
<class 'int'>

In [24]:
a='python'
b=56.78
c=89
print(a,b,c)

print(type(a))
print(type(b))
print(type(c))

python 56.78 89
<class 'str'>
<class 'float'>
<class 'int'>

In [25]:
a='python'
b=56.78
c=89
print(a,b,c)
print(type(a,b,c))

python 56.78 89

TypeError: type.__new__() argument 2 must be tuple, not float

In [26]:
a='python'
b=56.78
c=89
print(a,b,c)
print(type(a),type(b),type(c))

python 56.78 89
<class 'str'> <class 'float'> <class 'int'>

In [27]:
a='python',b=56.78,c=89
print(a,b,c)
print(type(a),type(b),type(c))

SyntaxError: can't assign to literal (<ipython-input-27-6e12f3d538c5>, line 1)

In [28]:
a,b,c='python',56.78,89
print(a,b,c)
print(type(a),type(b),type(c))

python 56.78 89
<class 'str'> <class 'float'> <class 'int'>

In [29]:
a,b,c=10,10,10
print(a,b,c)
print(type(a),type(b),type(c))

10 10 10
<class 'int'> <class 'int'> <class 'int'>

In [30]:
a=b=c=10
print(a,b,c)
print(type(a),type(b),type(c))

10 10 10
<class 'int'> <class 'int'> <class 'int'>

In [31]:
a=a+1
print(a)

11

In [32]:
a

11

In [33]:
n="67"
print(n)
print(type(n))

67
<class 'str'>

In [ ]:
"67","89.90","python"------>string

In [34]:
#str+int---->not possible
n="67"
print(n+1)

TypeError: can only concatenate str (not "int") to str

In [37]:
print("67"+"1")
print(67+1)
print("python"+"123")

671
68
python123

In [ ]:
#str+int---->not possible
n="67"
print(n+1)

In [ ]:
#typecasting/type conversion:
int----->int(variable_name)
float---->float(variable_name)
str------>str(variable_name)

In [39]:
#str to int
n="67"
print(n,type(n))
n1=int(n)
print(n1,type(n1))

67 <class 'str'>
67 <class 'int'>

In [40]:
#str to float
n="67"
print(n,type(n))
n1=float(n)
print(n1,type(n1))

67 <class 'str'>
67.0 <class 'float'>

In [41]:
n="67"
print(n+str(1))

671

In [ ]:
int(n)
float(n)
str(n)

In [42]:
n="67"
print(int(n)+1)

68

In [44]:
# float to str,int
f=87.56
n1=str(f)
n2=int(f)
print(n1,type(n1))
print(n2,type(n2))

87.56 <class 'str'>
87 <class 'int'>

In [45]:
# int to str,float
s=90
n1=str(s)
print(n1,type(n1))
n2=float(s)
print(n2,type(n2))

90 <class 'str'>
90.0 <class 'float'>

In [ ]:
#dynamic input/userinput:
str---->input()/str(input())
int--->int(input())
float--->float(input())

In [49]:
#string userinput
s=input("enter a string: ")
print(s,type(s))

enter a string: 55
55 <class 'str'>

In [50]:
#string userinput
s=input()
print(s,type(s))

67
67 <class 'str'>

In [54]:
#int userinput
n=int(input())
print(n,type(n))

78
78 <class 'int'>

In [58]:
#float userinput
f=float(input())
print(f,type(f))

67.78
67.78 <class 'float'>

In [ ]:
"python","67","56.78"---->input()--->string
67----------------------->int(input())--->int----->only int
90,67.78----------------->float(input())--->float--->only int,float

In [60]:
#int to float,str
n=int(input()) #45
print(n,type(n))
n1=float(n) #45.0
print(n1,type(n1))
n2=str(n) #"45"
print(n2,type(n2))

45
45 <class 'int'>
45.0 <class 'float'>
45 <class 'str'>

In [63]:
s=input("enter a name: ")
print("hello",s)
print("hello"+s)
print("hello "+s)

enter a name: pavani
hello pavani
hellopavani
hello pavani

In [70]:
#welcome to clgname urname
s=input("enter clg name") 
s1=input(" Enter name") 
print("welcome to", s, s1)

enter clg nameandhra loyola
 Enter namepavani
welcome to andhra loyola pavani

In [ ]:
# operators:
1) arithmatic operators (+,-,*,/,%,//(floor),**(power))
2) assignment operators (=,+=,-=,/=,*=,%=,//=,**=)
3) logical operators (and ,or,not)
4) comparision operators (==,!=,<,>,<=,>=)
5) membership operators (in,not in)
6) identity operators (is,is not)
7) bitwise operators (&,|,^,<<,>>)

In [1]:
#1) arithmatic operators (+,-,*,/,%,//(floor),**(power))
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

23
20
43
3
460
1.15
3
1
1716155831334586342923895201

In [80]:
#3) logical operators (and ,or,not)
a=7
print(a<5 and a<10) #false and true
print(a<15 and a<10) #true and true
print(a<5 or a<10) #false or true
print(a<15 or a<10) #true or true
print(a>15 or a>10) #false or false
print(not(a<15 or a<10)) #true or true
print(not(a>15 or a>10)) #false or false

False
True
True
True
False
False
True

In [ ]:
and-->both true
or--->any one true 
not

In [83]:
#5) membership operators (in,not in)
a="python"
print('y' in a)
print('o' not in a)
print('@' in a)

True
False
False

In [82]:
#6) identity operators (is,is not)
a=25
b=17
print(a is b)
print(a is not b)

False
True

In [ ]:
3 operators are left 
2) assignment operators(=,+=,-=,/=,*=,%=,//=,**=)
4) comparision operators(==,!=,<,>,<=,>=)
7) bitwise operators(&,|,^,<<,>>)