In [23]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
a={3,'ruthu',4}
a

{3, 4, 'ruthu'}

In [25]:
a.add("new")

In [26]:
a

{3, 4, 'new', 'ruthu'}

In [27]:
for ch in "apssdc":
    a.add(ch)

In [28]:
a

{3, 4, 'a', 'c', 'd', 'new', 'p', 'ruthu', 's'}

In [29]:
a.pop()

3

In [30]:
a.remove(4)

In [31]:
a

{'a', 'c', 'd', 'new', 'p', 'ruthu', 's'}

In [32]:
a.remove("p")

In [ ]:
mutable in nature

In [42]:
A={"Ruthu",9,'10','Andhra Loyola',10,0987.89}
A

{10, '10', 9, 987.89, 'Andhra Loyola', 'Ruthu'}

In [43]:
a={9,4,10}
a

{4, 9, 10}

In [46]:
s={'ruthu',10,90,'ruthu',10,80,'anusha'} # len=6
#s
for item in s: # 5
    print(item)

10
ruthu
80
anusha
90

In [48]:
s[0]

TypeError: 'set' object is not subscriptable

In [49]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [50]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [51]:
A

{10, '10', 9, 987.89, 'Andhra Loyola', 'Ruthu'}

In [52]:
# new data to the existed

In [53]:
A.add("new data") #

In [54]:
A

{10, '10', 9, 987.89, 'Andhra Loyola', 'Ruthu', 'new data'}

In [55]:
ord("R")

82

In [56]:
ord('n')

110

In [57]:
A.add("Bhanu")

In [58]:
A

{10, '10', 9, 987.89, 'Andhra Loyola', 'Bhanu', 'Ruthu', 'new data'}

In [59]:
A.remove("10") # string

In [60]:
A

{10, 9, 987.89, 'Andhra Loyola', 'Bhanu', 'Ruthu', 'new data'}

In [65]:
A.remove("Ruthu") # removes the peticular element from set

KeyError: 'Ruthu'

In [66]:
A

{10, 9, 'Andhra Loyola', 'Bhanu', 'new data'}

In [69]:
A.discard("Ruthu") # it will be discarded it it is a member in set

In [70]:
A

{10, 9, 'Andhra Loyola', 'Bhanu', 'new data'}

In [71]:
A

{10, 9, 'Andhra Loyola', 'Bhanu', 'new data'}

In [72]:
B={90,9,'Bhanu','Nandini',80987,'Sree'}
B

{80987, 9, 90, 'Bhanu', 'Nandini', 'Sree'}

In [73]:
A.intersection(B) # common elements in both sets

{9, 'Bhanu'}

In [74]:
A.union(B) # all the non similar elements

{10, 80987, 9, 90, 'Andhra Loyola', 'Bhanu', 'Nandini', 'Sree', 'new data'}

In [75]:
A.difference(B) # the

{10, 'Andhra Loyola', 'new data'}

In [76]:
B

{80987, 9, 90, 'Bhanu', 'Nandini', 'Sree'}

In [77]:
A

{10, 9, 'Andhra Loyola', 'Bhanu', 'new data'}

In [78]:
5-4 #1

1

In [79]:
A-B

{10, 'Andhra Loyola', 'new data'}

In [80]:
# sub set/child set and super set/parent set
supr={9876,'APSSDC','Andhra Loyola','VEMU',90,87,12}
sub={'VEMU',9876}
sub.issubset(supr)

True

In [81]:
supr.issuperset(sub)

True

In [87]:
non={'APSSDC','Ruthu','college',987}
non.issubset(supr)

False

In [88]:
non.intersection(supr)

{'APSSDC'}

In [89]:
non.symmetric_difference(supr) # non similar elements of both sets

{12, 87, 90, 987, 9876, 'Andhra Loyola', 'Ruthu', 'VEMU', 'college'}

In [85]:
supr

{12, 87, 90, 9876, 'APSSDC', 'Andhra Loyola', 'VEMU'}

In [86]:
non

{'APSSDC', 'Ruthu'}

In [90]:
sub.isdisjoint(supr) # no common

False

In [91]:
a

{4, 9, 10}

In [92]:
b={12,45,90}

In [93]:
a.isdisjoint(b)

True

In [94]:
A

{10, 9, 'Andhra Loyola', 'Bhanu', 'new data'}

In [96]:
B

{80987, 9, 90, 'Bhanu', 'Nandini', 'Sree'}

In [97]:
A.difference_update(B) # updating the A

In [99]:
A

{10, 'Andhra Loyola', 'new data'}

In [100]:
A.symmetric_difference_update(B)

In [101]:
A

{10, 80987, 9, 90, 'Andhra Loyola', 'Bhanu', 'Nandini', 'Sree', 'new data'}

In [102]:
A.intersection_update(B)

In [103]:
A

{80987, 9, 90, 'Bhanu', 'Nandini', 'Sree'}

In [104]:
A

{80987, 9, 90, 'Bhanu', 'Nandini', 'Sree'}

### Files in python
- Any thing that contains info is called a file
- file may be of any type
    - img,txt,doc,py,java,.mp3,.mp4 etc...
- **file operations**
    - open()
        - **Syntax**
            - open(filename,mode)
            - with open(filename,mode) as ref:
    - read()
    - write() and append()
    - close()

In [112]:
## opening the existed
with open("file.txt",'r') as f: # mode
    content=f.read() # read function
    for word in content:
        print(word,end="")
    
print(type(f))
print(type(content))

Hi I am adding content<class '_io.TextIOWrapper'>
<class 'str'>

In [109]:
file=open("file.txt",'r') # filename,mode
print(file.read())

Hi I am adding content

In [111]:
file=open("file.txt",'r') # filename,mode
for each in file.read():
    print(each,end="")

Hi I am adding content

In [117]:
python=open("C:\Users\DELL\Documents\Workshops content\Andhra Loyola\prime_range.py",'r')
data=python.read()
for st in data:
    print(st,end="")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-117-ebdfcaa42b76>, line 1)

In [120]:
python=open("prime_range.py",'r')
pgm=python.read()
for statement in pgm:
    print(statement,end="")

def prime_range(lw,up):
    for num in range(lw,up+1):
        count=0
        for dig in range(1,num//2+1):
            if num%dig==0:
                count+=1
        if count==1:
            print(num,end=" ")

prime_range(1,100)

In [123]:
# how to create new file
# by using write mode
w=open("write.txt",'w') # open
w.write("created using write()") # write operation
w.close()

In [124]:
with open("write.txt",'w') as wr:
    wr.write("Content is overwrited") 
    wr.close()

In [125]:
with open("write.txt",'r') as r:
    print(r.read())

Content is overwrited

In [130]:
# using append method() # adds new data to the existed iterable
ap=open("write.txt",'a')
ap.write("\nhi I am first line\n I am second line \nI am third")
ap.close()

In [135]:
rl=open("prime_range.py",'r')
print(rl.readlines()) # list of lines

['def prime_range(lw,up):\n', '    for num in range(lw,up+1):\n', '        count=0\n', '        for dig in range(1,num//2+1):\n', '            if num%dig==0:\n', '                count+=1\n', '        if count==1:\n', '            print(num,end=" ")\n', '            \n', 'prime_range(1,100)\n']

In [141]:
rln=open("prime_range.py","r")
for line in rln.readlines():
    print(line)

def prime_range(lw,up):

    for num in range(lw,up+1):

        count=0

        for dig in range(1,num//2+1):

            if num%dig==0:

                count+=1

        if count==1:

            print(num,end=" ")



prime_range(1,100)

In [147]:
#only perticular no.of file 
with open("write.txt","r") as rd:
    print(rd.read(40)) # reads the indexed elements

Content is overwritedhi I am first line

In [149]:
r3=open("write.txt","r")
r3.tell() # it tells the cursor position

0

In [150]:
r3.seek(40) # it moves pointer in the file to perticular index

40

In [151]:
r3.tell()

40

In [153]:
len(rd) # python

TypeError: object of type '_io.TextIOWrapper' has no len()

In [154]:
len(content) # size of the iterable

22

In [159]:
# read a file and the count of no.of lines,no.of words and no.of characters in that file
with open("prime_range.py","r") as py:
    data=py.readlines()
    lc=wc=chc=0
    for line in data:
        lc+=1
        for word in line:
            wc+=1
            for ch in word:
                chc+=1
print("no.of lines=",lc)
print("no.of words=",wc)
print("no.of characters:",chc)

no.of lines= 10
no.of words= 245
no.of characters: 245

In [171]:
# read a file and the count of no.of lines,no.of words and no.of characters in that file
with open("prime_range.py","r") as py:
    data=py.readlines()
    lc=wc=chc=specials=0
    for line in data:
        lc+=1
        for word in line:
            if word==" ":
                wc+=1
            for ch in word:
                if ch.isalpha():
                    chc+=1
                    
print("no.of lines:",lc)
print("no.of words:",wc+1)
print("no.of characters",chc)
#print("special characters:",specials)

no.of lines: 10
no.of words: 91
no.of characters 96

In [178]:
p=open("prime_range.py",'r')
content=p.read() # 
lines=words=chars=sp=0
for each in content:
    if each=="\n":
        lines+=1
    elif each==" ":
        words+=1
    elif each.isalpha():
        chars+=1
    else:
        sp+=1
print("no.of lines:",lines)
print("no.of words:",words+1)
print("no.of characters:",chars)
print("special characters:",sp)

no.of lines: 10
no.of words: 91
no.of characters: 96
special characters: 49